<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=.;Initial Catalog=F9992; Integrated Security=True;"/>
    <add key="SmartDayUrl" value="https://api.gsgroup.io/v1.0/"/>
    <add key="SmartDayApiKey" value="7ffdbb9e60cd485a9b8aa980e2cc65fe"/>

    <add key="SyncOrders" value="1"/>
    <add key="SyncMaterials" value="0"/>
    <add key="SyncSalaryCodes" value="0"/>
    <!-- not allowed.. -->
    <add key="SyncCustomers" value="0"/>
    <add key="SyncThings" value="0"/>
    <add key="SyncOrdersFromSmartDay" value="1"/>
    <add key="SyncItems" value="0"/>
    <!-- not allowed.. -->


    <add key="DefaultStoreID" value="1"/>
    <add key="DefaultOwnereID" value="1"/>
    <add key="DefaultProjectOwnerID" value="1"/>
    <add key="DefaultDepartment" value="1"/>
    <add key="DefaultParticipant" value="1"/>
    <add key="DefaultResponsible" value="1"/>
    <add key="DefaultAgreementActNo" value="1545"/>
    <add key="DefaultWholeSalerID" value="SD"/>

    <add key="TestOrder" value="13163"/>

    <add key="MemoFolder" value="\\srv-sql1\Visma\Visma_Program\Business\\F9992"/>
    <add key="DocFolder" value="c:\temp"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
