<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=.;Initial Catalog=F9992; Integrated Security=True;"/>
    <add key="SmartDayUrl" value="https://api.gsgroup.io/v1.0/"/>
    <add key="SmartDayApiKey" value="25b6880c305c45d0bce8307c6f2aac10"/>

    <add key="SyncOrders" value="0"/>
    <add key="SyncCustomers" value="0"/>
    <add key="SyncItems" value="0"/>
    <add key="SyncThings" value="0"/>
    <add key="SyncOrdersFromSmartDay" value="1"/>
    
    
    
    <add key="DefaultStoreID" value="1"/>
    <add key="DefaultOwnereID" value="1"/>
    
    <add key="AgreementActNo" value="1545"/>
    <add key="OrderSyncFile" value="OrderSyncFile.xml"/>
    
  
    
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>